*{
  box-sizing:border-box;
}

body{
  background-color: #d4c9c9;
  font-family:sans-serif;
  padding:0 40px;
}

#key-visual-section{
  text-transform: uppercase;
  color: #222;
  width: 100%;
  height: 100vh;
  position: relative;
}

#key-visual-section .splt-version {
  color: #fff
}

#key-visual-section header {
  width: 100%;
  height: 84px;
  line-height: 84px;
  font-size: 21px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;

}