:root{
  --main-background-color: #cbd4c7;
  --translate-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

*{
  box-sizing:border-box;
}

body{
  background-color: var(--main-background-color);
  color: #222;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding:0 40px;
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

#key-visual-section{
  text-transform: uppercase;
  color: #222;
  width: 100%;
  height: 100vh;
  position: relative;
  min-height: 100vh;
}

#key-visual-section .split-version {
  color: #fff;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#key-visual-section header {
  width: 100%;
  height: 84px;
  line-height: 84px;
  font-size: 21px;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#key-visual-section header .left-title,
#key-visual-section header .right-title {
  animation-name: key-visual-section-header-entry;
  animation-duration: 600ms;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

#key-visual-section header .right-title {
  animation-delay: 100ms;
}

@keyframes key-visual-section-header-entry {
  from{
    transform: translateY(-60px);
  }
  to{
    transform: translateY(0px);
  }
}
  

#key-visual-section .main {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 2.5rem 0;
  perspective: 600px;
}

#key-visual-section .title-wrapper {
  animation-name: key-visual-section-title-entry;
  animation-delay: 100ms;
  animation-duration: 800ms;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

#key-visual-section .title-wrapper:nth-child(2) {
  animation-delay: 200ms;
}
#key-visual-section .title-wrapper:nth-child(3) {
  animation-delay: 300ms;
}

#key-visual-section .title {
  font-size: 11.5vw;
  font-weight: 500;
  line-height: 0.9;
  margin: 0;
}


@keyframes key-visual-section-title-entry {
  from{
    opacity: 0;
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateY(100%) rotateX(-80deg);
  }
  to{
    opacity: 1;
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateY(0%) rotateX(0deg);
  }
}

#key-visual-section .logo-wrapper {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 56px;
  height: 122px;
  animation-name: key-visual-section-logo-entry;
  animation-delay: 600ms;
  animation-duration: 600ms;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

#key-visual-section .logo {
  background-image: url(logo.svg);
  background-size: 56px 122px;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 122px;
  position: absolute;
  right: 0;
  bottom: 40px;
  font-size: 0;
  outline: none;
}

@keyframes key-visual-section-logo-entry {
  from{
    opacity: 0;
    transform: translateY(120px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

#key-visual-section .divider{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  /* animation-name: key-visual-section-divider-entry;
  animation-duration: 600ms;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
  transform: scaleX(0);
  transition: transform 600ms var(--translate-timing-function);
}

#key-visual-section hr {
  display: block;
  right: 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #272727;
  overflow: visible;
}

#key-visual-section .divider.divider-entry {
  transform: scaleX(1);
  /* animation-name: key-visual-section-divider-entry;
  animation-duration: 600ms;
  animation-timing-function: var(--translate-timing-function);
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

/* @keyframes key-visual-section-divider-entry {
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
} */

#outline-section {
  height: 100%;
  width: 100%;
  display: block;
  margin: 3.75rem 0 7.5rem;
}

#outline-section .summary {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#outline-section .layout-left-40{
  width: 40%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 0;
}

#outline-section .summary-text{
  padding: 0;
  margin: 0;
  max-width: 320px;;
  font-size: 1.125rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(60px);
  transition: transform 1s var(--translate-timing-function);
}

#outline-section .summary-text.summary-text-entry{
  opacity: 1;
  transform: none;
}

/* @keyframes outline-section-summary-text-entry {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
} */

#outline-section .layout-right-60{
  width: 60%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 3.75rem;
}

#outline-section .summary-list{
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  list-style: none;
}

#outline-section .summary-list :hover{
  transition-duration: 400ms;
  transition-timing-function:  var(--translate-timing-function);
  color: #fff;
  cursor: pointer;
}

#outline-section .list-item a {
  display: block;
  padding: 8px 0;
  touch-action: manipulation;
  text-decoration: none;
  color: inherit;
}

#outline-section .list-item{
  position: relative;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 600ms var(--translate-timing-function), transform 600ms var(--translate-timing-function);
}

#outline-section .list-item.list-item-entry{
  transform: none;
  opacity: 1;
}

#outline-section .list-item.list-item-entry:first-child {
  transition-delay: 100ms;
}
#outline-section .list-item.list-item-entry:nth-child(2) {
  transition-delay: 200ms;
}
#outline-section .list-item.list-item-entry:nth-child(3) {
  transition-delay: 300ms;
}
#outline-section .list-item.list-item-entry:nth-child(4) {
  transition-delay: 400ms;
}

#outline-section .list-item-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(30px) rotate(90deg);
  opacity: 0;
  transition: opacity .4s var(--translate-timing-function),transform .4s var(--translate-timing-function);
}

#outline-section .list-item.list-item-entry .list-item-icon {
  transform: translateY(-50%) rotate(0deg);
  opacity: 1
}

#outline-section .list-item.list-item-entry:first-child .list-item-icon {
  transition-delay: 600ms;
}
#outline-section .list-item.list-item-entry:nth-child(2) .list-item-icon {
  transition-delay: 700ms;
}
#outline-section .list-item.list-item-entry:nth-child(3) .list-item-icon {
  transition-delay: 800ms;
}
#outline-section .list-item.list-item-entry:nth-child(4) .list-item-icon {
  transition-delay: 900ms;
}

/* @keyframes outline-section-list-item-entry {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
} */

#outline-section .list-item:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1px;
  background-color: #272727;
  transform: scaleX(0);
  transform-origin: center left;
  transition: transform 600ms var(--translate-timing-function);
}

#outline-section .list-item.list-item-entry:after{
  transform: scaleX(1);
}

#outline-section .list-item.list-item-entry:first-child:after{
  transition-delay: 500ms;
}
#outline-section .list-item.list-item-entry:nth-child(2):after{
  transition-delay: 600ms;
}
#outline-section .list-item.list-item-entry:nth-child(3):after{
  transition-delay: 700ms;
}
#outline-section .list-item.list-item-entry:nth-child(4):after{
  transition-delay: 800ms;
}

/* @keyframes outline-section-list-item-divider-entry {
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
} */

#outline-section-child1 {
  height: 100%;
  width: 100%;
  display: block;
  color: #222;
  margin-bottom: 35vh;
  position: relative;
}

#outline-section-child1 .summary-container{
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 95rem;
}

#outline-section-child1 .summary-layout-gutter-top{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#outline-section-child1 .layout-left-40{
  width: 40%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 0;
}

#outline-section-child1 .summary-info{
  padding-top: 35vh;
  position: relative;
  max-width: 320px;
  z-index: 0;
}

#outline-section-child1 .summary-info-inner > h3{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 500;
}

#outline-section-child1 .summary-info-text{
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 0;
}

#outline-section-child1 .summary-info-inner>* {
opacity: 0;
transform: translateY(60px);
transition: opacity 600ms var(--translate-timing-function),transform 600ms var(--translate-timing-function);
}

#outline-section-child1 .summary-info-inner.summary-info-inner-entry>* {
  opacity: 1;
  transform: none;
}

#outline-section-child1 .summary-info-inner.summary-info-inner-entry>:first-child {
  transition-delay: 60ms;
}

#outline-section-child1 .summary-info-inner.summary-info-inner-entry>:nth-child(2) {
  transition-delay: 12ms;
}

#outline-section-child1 .layout-right-60{
  width: 60%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 3.75rem;
}

#outline-section-child1 .summary-img-block{
  position: relative;
}

#outline-section-child1 .summary-img-wrapper{
  position: relative;
  overflow: hidden;
}

#outline-section-child1 .summary-img{
  opacity: .75;
  /* mix-blend-mode: multiply; */
}

#outline-section-child1 .summary-img img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  opacity: 0;
  transform: scale(1.4);
  transition: opacity 1200ms var(--translate-timing-function),transform 1200ms var(--translate-timing-function);
}

#outline-section-child1 .summary-img.summary-img-entry img{
  opacity: 1;
  transform: scale(1);
  transition-delay: 600ms;
}

#outline-section-child1 .speed-block-img{
  margin-top: -30px;
  margin-bottom: -30px;
}

#outline-section-child1 .summery-speed-text{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 3.75rem;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 600ms var(--translate-timing-function),transform 600ms var(--translate-timing-function);
}

#outline-section-child1 .summery-speed-text.summary-speed-text-entry{
  opacity: 1;
  transform: none;
  transition-delay: 300ms;
}

#outline-section-child1 .summary-speed-bubble{
  position: absolute;
  right: 20px;
  top: 30%;
  z-index: 1;
  color: var(--main-background-color);
  padding: 1.5rem 2.5rem;
  font-size: 1.25rem;
}

#outline-section-child1 .summary-speed-bubble.-right{
  right: -30px;
}
#outline-section-child1 .summary-speed-bubble.-left{
  right: auto;
  left: -30px;
}
#outline-section-child1 .summary-speed-bubble.-bottom{
  top: auto;
  bottom: 0;
}
#outline-section-child1 .summary-speed-bubble.-top{
  top: -20%;
}

#outline-section-child1 .summary-speed-bubble::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #272727;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 600ms cubic-bezier(.17,.67,.3,1.33);
}

#outline-section-child1 .summary-speed-bubble.summary-speed-bubble-entry::before{
  transform: scale(1);
  transition-delay: 300ms;
}

#outline-section-child1 .summary-layout-gutter-bottom{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


#outline-section-child1 .summary-layout-gutter-bottom > layout-left-40{
  vertical-align: bottom;
}

#outline-section-child1 .summary-layout-gutter-bottom > layout-left-60{
  vertical-align: bottom;
}

#outline-section-child1 .layout-right-textright{
  text-align: right!important;
}

#outline-section-child1 .layout-right-50{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 0;
}